* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: #222;
  color: white;
}

button {
  color: white;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dotted-border {
  border-style: dotted;
}

.rainbow-colored {
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-colored-border {
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 100%
  );
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 100%;
  font-size: larger;
}

.header-logo-holder {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 10vw;
}

.header-side {
  display: flex;
  align-items: center;
}

.header-left-side {
  width: calc(100% / 3);
}

.header-right-side {
  width: calc(100% / 3);
  justify-content: flex-end;
}

.header-logo-name {
  text-decoration: underline green 4px;
  font-size: larger;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
}

nav li {
  list-style-type: none;
  padding: 0 2vw;
  display: flex;
  align-items: center;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: flex-end;
}

dialog {
  font-size: 1.25rem;
  border-radius: 20px;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

dialog button {
  margin: 20px;
}

/*
	Small Device Landscape Screen
*/
@media screen and (orientation: landscape) and (height <= 700px) {
  .header-logo {
    width: calc(2 * 7vw);
  }
}

/*
	Portrait Screen
*/
@media screen and (orientation: portrait) {
  #root {
    padding: 0;
  }

  .header-logo {
    width: calc(3.5 * 7vw);
  }
}
