* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* height: 100%; */
  margin: 0 auto;

  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.rainbow-colored {
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 100%;
}

.header-logo-holder {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 10vw;
}

.header-side {
  display: flex;
  align-items: center;
}

.header-left-side {
  width: calc(100% / 3);
}

.header-right-side {
  width: calc(100% / 3);
}

.header-logo-name {
  text-decoration: underline green 4px;
  font-size: larger;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
}

nav li {
  list-style-type: none;
  padding: 0 2vw;
  display: flex;
  align-items: center;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: flex-end;
}

/*
	Portrait Screen
*/
@media screen and (orientation: portrait) {
  #root {
    padding: 0;
  }

  .header-logo {
    width: calc(2.5 * 10vw);
  }
}
