#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  list-style-type: none;
  padding: 0 50px;
}
