.chessboard {
  display: flex;
  flex-direction: column;

  /* border: 4px solid #444; */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  align-items: center;
  width: 32vw;
}

.chessboard-row {
  display: flex;
  flex-direction: row;
}

.chessboard-col {
  display: flex;
  flex-direction: column;
}

.square {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  cursor: pointer;

  /* border-style: dashed; */
  border-width: 0.5px;
  will-change: filter;
  transition: filter 300ms;
}

.square:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.square.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.border-highlighted-square {
  outline: none;
  border-width: 0.25vw;
  border-style: solid;
}

.highlighted-square-from {
  border-color: #c945e1aa;
  box-shadow: 0 0 0.25vw 0.25vw #c945e1aa inset;
}

.highlighted-square-to {
  border-color: orange;
  box-shadow: 0 0 0.25vw 0.25vw orange inset;
}

.highlighted-square-prev-move {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 2px,
    orange 5px 2px
  );
}

.chessboard-labels {
  position: absolute;
  color: #757373;
}

.chessboard-file-labels {
  bottom: -3vw;
}

.chessboard-rank-labels {
  left: -3vw;
  top: 0.3vw;
}

.chessboard-labels .square {
  border-style: none;
}

/* Row offset for alternating pattern */
.chessboard div:nth-child(odd) .square:nth-child(even),
.chessboard div:nth-child(even) .square:nth-child(odd) {
  background-color: #4b4b4b; /* Dark square (dark theme adaptation) */
}

/* Row offset for alternating pattern */
.chessboard div:nth-child(odd) .square:nth-child(odd),
.chessboard div:nth-child(even) .square:nth-child(even) {
  background-color: #508a4b; /* Light square for offset pattern */
}

.piece {
  display: block;
  position: absolute;
  height: 4vw;
  filter: drop-shadow(4px 1px 4px rgba(0, 0, 0, 0.5));
}

.play-icon {
  display: inline-block;
  position: unset;
}

.player-icon-container {
  cursor: unset;
  border-radius: 50%;
  margin: 10px;
  background: linear-gradient(to left, #333, #333 0%, #eee 100%, #333 75%);
}

.player-icon-container:hover {
  filter: unset;
}

.player-icon-container.react:hover {
  filter: unset;
}

/*
	Small Device Landscape Screen
*/
@media screen and (orientation: landscape) and (height <= 700px) {
  .player-icon-container .piece {
    height: calc(1.3 * 4vw);
  }

  .player-icon-container {
    width: calc(2.5 * 4vh);
    height: calc(2.5 * 4vh);
  }
}

/*
	Portrait Screen
*/
@media screen and (orientation: portrait) {
  .chessboard {
    width: calc(2.5 * 32vw);
  }

  .square {
    width: calc(2.5 * 4vw);
    height: calc(2.5 * 4vw);
  }

  .border-highlighted-square {
    border-width: calc(2.5 * 0.25vw);
  }

  .highlighted-square-from {
    box-shadow: 0 0 calc(2.5 * 0.25vw) calc(2.5 * 0.25vw) #c945e1aa inset;
  }

  .highlighted-square-to {
    box-shadow: 0 0 calc(2.5 * 0.25vw) calc(2.5 * 0.25vw) orange inset;
  }

  .piece {
    height: calc(2.5 * 4vw);
  }

  .chessboard-file-labels {
    bottom: calc(2.5 * -3vw);
  }

  .chessboard-rank-labels {
    left: calc(2.5 * -3vw);
    top: calc(2.5 * 0.3vw);
  }
}
