/* Chessboard container */

.chessboard {
  display: flex;
  flex-direction: column;
  border: 4px solid #444; /* Subtle border around the chessboard */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  align-items: center;
  width: 32vw;
}

.chessboard-row {
  display: flex;
  flex-direction: row;
}

/* Chessboard squares */
.square {
  position: relative;
  width: 4vw;
  height: 4vw;
  border-style: dashed;
  border-width: 0.5px;
}

/* Row offset for alternating pattern */
.chessboard div:nth-child(odd) .square:nth-child(even),
.chessboard div:nth-child(even) .square:nth-child(odd) {
  background-color: #4b4b4b; /* Dark square (dark theme adaptation) */
}

/* Row offset for alternating pattern */
.chessboard div:nth-child(odd) .square:nth-child(odd),
.chessboard div:nth-child(even) .square:nth-child(even) {
  background-color: #508a4b; /* Light square for offset pattern */
}

.piece {
  position: absolute;
  height: 4vw;
  will-change: filter;
  transition: filter 300ms;
}

.piece:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.piece.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .piece {
    animation: piece-spin infinite 20s linear;
  }
}
