.dice-area {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
}

.num-moves-left-text {
  margin: 0;
}

.num-moves-left-num {
  font-size: 3em !important;
  text-decoration: underline;
}

.roll-dice-button {
  border-style: solid;
  font-size: 1.5rem;
  margin: 0;
  min-width: 130px;
}

.roll-dice-button-border {
  margin: 40px 0 !important;
  box-shadow: 0 8px 20px 0 #646cff;
  transition: box-shadow 0.2s ease-in-out 0s;
}

.roll-dice-button-border:hover {
  box-shadow: 0 8px 20px 10px #646cff;
}

.player-turn-title-box span {
  font-size: 1.5rem !important;
  font-weight: bold;
}

.dice-box-icon {
  width: 4vw;
  margin: 1vw;

  /* transform: rotate(20deg); */
  filter: drop-shadow(2px 4px 6px black);
}

.dice-0 {
  filter: invert(80%) sepia(68%) saturate(10000%) hue-rotate(-10deg)
    brightness(90%) contrast(100%) drop-shadow(2px 4px 6px black);
}

/*
	Small Device Landscape Screen
*/
@media screen and (orientation: landscape) and (height <= 700px) {
  .dice-area {
    height: 200px;
  }

  .dice-box-icon {
    width: calc(4vw * 1.2);
    margin: calc(1vw * 1.2);
  }
}

/*
	Portrait Screen
*/
@media screen and (orientation: portrait) {
  .dice-area {
    height: 200px;
  }

  .dice-box-icon {
    width: calc(4vw * 2.5);
    margin: calc(1vw * 2.5);
  }
}
