.roll-dice-button {
  border-style: solid;
  font-size: 1.5rem;
  margin: 0;
  width: 130px;
}

.roll-dice-button-border {
  margin: 40px 0 !important;
  box-shadow: 0 8px 20px 0 #646cff;
  transition: box-shadow 0.2s ease-in-out 0s;
}

.roll-dice-button-border:hover {
  box-shadow: 0 8px 20px 10px #646cff;
}

.player-turn-title-box span {
  font-size: 1.5rem !important;
  font-weight: bold;
}
