.main-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
}

.board-panel {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
