.main-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.board-panel {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
