.main-panel {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* center */
  align-self: center;
  height: 100%;
  width: 100%;
}

.padded-main-panel {
  padding: 0 10vw;
}

.board-panel {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.side-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  padding: 1vw 5vw;
  overflow: auto;
}

.side-panel span {
  font-size: 1.2rem;
}

.left-panel li {
  list-style-type: none;
}

.history-panel {
  width: 60%;
  height: 50vh;
  display: flex;
  border-style: dotted;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: auto;
}

.history-panel ul {
  padding: 1vw;
  width: 100%;
}

.dice-icon {
  width: 5vw;
  transform: rotate(60deg);
}

.about-dice-icon {
  position: relative;
  display: inline-block;
  top: 20px;
  width: 50px;
  padding: 10px;
}

.player-rank {
  font-size: 1.75em !important;
  color: pink;
}

.player-name {
  font-size: 1.2rem;
  color: pink;
}

.player-names-box {
  min-width: 50%;
}

.player-names-box .flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-names-box .play-icon {
  width: 3vw;
  height: 3vw;
}

/*
	Small Device Landscape Screen
*/
@media screen and (orientation: landscape) and (height <= 400px) {
  .right-panel {
    padding: 1vw 0;
  }

  .dice-icon {
    width: calc(1.5 * 5vw);
  }

  .replay-controls-box button {
    padding: 0.3em;
  }
}

/*
	Portrait Screen
*/
@media screen and (orientation: portrait) {
  .main-panel {
    flex-direction: column-reverse;
    align-items: center;
  }

  .history-panel {
    height: 50vw;
  }

  .history-panel ul {
    padding: 3vw;
  }

  .dice-icon {
    width: calc(3 * 5vw);
  }

  .right-panel {
    flex-direction: column-reverse;
  }

  .player-names-box .play-icon {
    width: calc(3vw * 3);
    height: calc(3vw * 3);
  }
}
