.replay-controls-box {
  justify-content: space-between;
  margin-bottom: 40px;
}

.replay-controls-box button {
  min-width: unset;
}

.replay-controls-move {
  display: inline-block;
  width: 100px;
  text-decoration: underline;
}

.replay-control-icon {
  width: 3vw;
  height: 3vw;
}

/*
	Small Device Landscape Screen
*/
@media screen and (orientation: landscape) and (height <= 400px) {
  .replay-controls-box {
    padding: 0 !important;
  }
}

/*
	Tablet Portrait Screen
*/
@media screen and (orientation: portrait) {
  .replay-control-icon {
    width: calc(2.5 * 3vw);
    height: calc(2.5 * 3vw);
  }
}
